
.first-dev{
    padding-bottom: 100px;
}
.home-row h4{
    color: white;
    padding-top: 200px;
    padding-bottom: 20px;
    text-align: justify;

}
.home-row
{
    background-image: url('../../public/images/back-home.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    
  
}
.home-row p{
    color: white;
    text-align: center;
}
.first-img{
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
   
}  
.home-section-1-row-1
{
    background-image: url(../../public/images/back-home.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    
    
} 

.home-section-1-row-1 p{
    position: absolute;
    width: 50%;
    color: white;
    top: 0;
    right: 0;
    
}
.card-home
{
    margin-top: -100px;
    z-index: 2;
   
}
@media screen and (max-width: 768px) {
    .card-home {
     
      margin-top: 10px;
    }
  }

.home-section-1-row-1 span
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: azure;
}
.slider-image
{
    min-height: 300px;
    max-height: 300px;
    color: black;
}
.image-more
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}