

.data2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.data2 img {
    width: 90%;
    height: 440px;
    box-shadow: 3px 4px 12px 5px rgb(138, 133, 133);
}

.data3 {
    margin: 30px 60px;
}

.data3 h1 {
    text-align: center;
    color: red;
    padding: 20px 0;
    font-size: 2.5rem;
}

.data3 p {
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 26px;
    text-align: justify;
}

/*---------------------*/
.section1 {
    width: 100%;
    display: flex;
    margin-top: 80px;

    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.section1 img {
    width: 45%;
    height: 360px;
    box-shadow: 3px 4px 12px 5px rgb(138, 133, 133);

}

.page-5-contant3 {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

margin-bottom: 80px;
}

.page-5-contant3 h1 {
    color: red;
    padding: 20px 0;
    font-size: 2.5rem;

}

.page-5-contant3 p {
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 26px;
    text-align: justify;

}


/*---------------------*/
.section2 {
    width: 100%;
    display: flex;
    margin-top: 80px;

    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.section2 img {
    width: 45%;
    height: 360px;
    box-shadow: 3px 4px 12px 5px rgb(138, 133, 133);

}

.page-5-contant2 {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}

.page-5-contant2 h1 {
    color: red;
    padding: 20px 0;
    font-size: 2.5rem;

}

.page-5-contant2 p {
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 26px;
    text-align: justify;

}

.section9 {
    margin: 50px 60px;
}

.section9 h1 {
    text-align: center;
    color: red;
    padding: 30px 0;
    font-size: 2.5rem;
}

.section9 p {
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 26px;
    text-align: justify;
}

.section1 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.section1 img {
    width: 45%;
    height: 360px;
    box-shadow: 3px 4px 12px 5px rgb(138, 133, 133);

}

.page-5-contant3 {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}

.page-5-contant3 h1 {
    color: red;
    padding: 20px 0;
    font-size: 2.5rem;

}

.page-5-contant3 p {
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 26px;
    text-align: justify;

}

.section3 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section3 img {
    width: 90%;
    height: 440px;
    box-shadow: 3px 4px 12px 5px rgb(138, 133, 133);

}

.page-5-contant4 {
    margin: 30px 60px;
}

.page-5-contant4 h1 {
    text-align: center;
    color: red;
    padding: 20px 0;
    font-size: 2.5rem;
}

.page-5-contant4 p {
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 26px;
    text-align: justify;
}

.image-box11 {
    width: 100%;
    height: 300px;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
}

.image-box11 img {
    width: 40%;
    box-shadow: 3px 4px 12px 5px rgb(138, 133, 133);
}

.section6 {
    width: 100%;
    margin-bottom: 50px;
}

.section6 h1 {
    text-align: center;
    color: red;
    padding: 20px 0;
    font-size: 2.5rem;
}

.section6 p {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 26px;
    text-align: justify;

}

.image-box2 {
    width: 100%;
    height: fit-content;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
}

.image-box2 img {
    width: 40%;
    box-shadow: 3px 4px 12px 5px rgb(138, 133, 133);
}

.section7 {
    width: 100%;
    margin: 20px 0;
}

.section7 h1 {
    text-align: center;
    color: red;
    padding: 20px 0;
    font-size: 2.5rem;
}

.section7 p {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 26px;
    text-align: justify;

}

.image-box3 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-box3 img {
    width: 90%;
    height: 440px;
    box-shadow: 3px 4px 12px 5px rgb(138, 133, 133);
}

.section8 {
    margin: 70px 60px;
}

.section8 h1 {
    text-align: center;
    color: red;
    padding: 20px 0;
    font-size: 2.5rem;
}

.section8 p {
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 26px;
    text-align: justify;
}

.image-box4 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-box4 img {
    width: 90%;
    height: 440px;
    box-shadow: 3px 4px 12px 5px rgb(138, 133, 133);
}

.image-box1 {
    width: 100%;
    height: fit-content;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;

}

.image-box1 img {
    width: 90%;

    box-shadow: 3px 4px 12px 5px rgb(138, 133, 133);
}

.section6 {
    width: 100%;
    margin: 80px 0;
}

.section6 h1 {
    text-align: center;
    color: red;
    padding: 20px 0;
    font-size: 2.5rem;
}

.section6 p {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 26px;
    text-align: justify;

}





@media only screen and (max-width:768px) {
    .section2 {
        width: 100%;

    }

    .section2 img {
        width: 400px;
        height: 360px;

    }

    .page-5-contant2 {
        width: 400px;

    }

    .page-5-contant2 h1 {
        color: red;
        padding: 20px 0;
        font-size: 2.5rem;

    }

    .page-5-contant2 p {
        font-size: 20px;
        letter-spacing: 0.5px;
        line-height: 26px;
        text-align: justify;
        margin-bottom: 40px;

    }

    .image-box11 {
        width: 100%;
        height: fit-content;
    }

    .image-box11 img {
        width: 90%;
        margin-bottom: 30px;
        box-shadow: 3px 4px 12px 5px rgb(138, 133, 133);
    }

    .image-box2 {
        width: 100%;
        height: fit-content;
        justify-content: space-around;
        flex-wrap: wrap;
        display: flex;
    }

    .image-box2 img {
        width: 90%;
        padding-bottom: 30px;

    }

    .section6 p {
        margin-top: -20px;
        padding: 10px;
    }

}