.body {
  background-image: linear-gradient(#fef2de, #fdd27c);
}
.body1{
  background-image: linear-gradient(#ededed, #aba7a7);
}
.shadow
{
  box-shadow: 13px 22px 15px 1px rgba(0, 0, 0, 0.219);
}
@media screen and (min-width: 993px) {
  .paragraph-maharaj p{
   
    padding-left: 0;
    margin-top: 0;
  }
}
.paragraph-maharaj h2{
  text-align: center;
  color: red;
}
.paragraph-maharaj p
{
  text-align: justify;

  margin-top: 50px;
  padding-left: 100px;
}

.background-enabled
{

position: absolute;
z-index: 5;
}
.navbar-toggal
{
  background-image: url('../public/images/back-home.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  
  
}
@media screen and (min-width: 993px) {
  .navbar-toggal {
   
    background: transparent;
  }
}
.navbar-header1
{
  background-image: url('../public/images/back-home.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url(../public/images/back-home.jpeg);
  z-index: 3;
  background-repeat: no-repeat;
  background-size: cover;
}


.row-news1
{
    height: 235px;
    overflow-y: scroll;
    text-align: center;
    min-height: 235px;
    
}
.jiven-parichay-img
{
  background-size: cover;
  height: 100%;
  width: 100%;
  box-shadow: 13px 22px 15px 1px rgba(0, 0, 0, 0.219);
  
}
.jiven-parichay-img1
{
  background-size: cover;
  height: 100%;
  width: 100%;
  
  
}
.mahotsav-paragraph
{
  margin-left: 50px;
  padding: 20px;
  text-align: justify;
}
@media screen and (min-width: 786px) {
  .mahotsav-paragraph {
   
    margin-left: 0px;
  padding: 2px;
  }
}

.bg-side-2-img {
  width: 100px;
}

.gallery-img {
  width: 340px;
  height: 100%;
}
.home-section-2-h1 {
  background-color: #dadada;
  border-radius: 20px 20px 0px 0px;
  padding: 10px;
  text-align: center;
}

.home-section-div {
  background-color: #838383;
  text-align: justify;
  padding: 10px;
  margin-top: -15px;
  border-radius: 0 0 20px 20px;
  min-height: 250px;
  color: white;

}
.home-section-div-card {
  text-align: justify;
  padding: 10px;
  min-height: 250px;
  
}

#icon-col {
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 15px;
  border: 5px solid orange;
  background: transparent;
}

.link-text-color {
  color: white;
}