.body {
  background-image: linear-gradient(#fef2de, #fdd27c);
 
}

.background-enabled
{

position: absolute;
z-index: 5;
}
.navbar-toggal
{
  background-image: url('../public/images/back-home.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -2px;
  
}
@media screen and (min-width: 993px) {
  .navbar-toggal {
   
    background: transparent;
  }
}
.navbar-header1
{
  background-image: url('../public/images/back-home.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(../public/images/back-home.jpeg);
  display: flex;
  width: 100%;
  z-index: 3;
  background-repeat: no-repeat;
  background-size: cover;
}

.row-news1
{
    height: 235px;
    overflow-y: scroll;
    text-align: center;
    min-height: 235px;
    
}

.bg-side-2-img {
  width: 100px;
}

.gallery-img {
  width: 340px;
  height: 100%;
}
.home-section-2-h1 {
  background-color: #dadada;
  border-radius: 20px 20px 0px 0px;
  padding: 10px;
  text-align: center;
}

.home-section-div {
  background-color: #838383;
  text-align: justify;
  padding: 10px;
  margin-top: -15px;
  border-radius: 0 0 20px 20px;
  min-height: 250px;
  color: white;

}

#icon-col {
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 15px;
  border: 5px solid orange;
}

.link-text-color {
  color: white;
}